@import 'libs/swiper-bundle.min'
@import 'libs/intlTelInput.min'

@import 'base/variables'
@import 'base/mixins'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Jost', sans-serif

body
  padding: 25px 0 50px 0

.container
  width: 1440px
  margin: 0 auto

.mt_100
  margin-top: 100px

@import 'blocks/text'
@import 'blocks/header'
@import 'blocks/logo'
@import 'blocks/nav'
@import 'blocks/home'
@import 'blocks/bestsellers'
@import 'blocks/products'
@import 'blocks/history'
@import 'blocks/reviews'
@import 'blocks/menu'
@import 'blocks/order'

@import 'base/media'